.cart {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    &:hover {

        .cart__buttons-reaction,
        .slick-arrow {
            visibility: visible;
            opacity: 1;
        }
    }
}

.cart__buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 20px;
    padding: 0 20px;

    @include min-screen($breakpoint-mobile) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 100px;
        padding: 0;
    }
    
    button {
        font-size: 12px;
        justify-content: left;
        font-weight: 800;
    }

    span {
        padding-left: 20px;
    }
}

.cart__buttons-reaction {
    display: flex;
    transition: opacity .2s ease;
    
    @include min-screen($breakpoint-mobile) {
        opacity: 0;
        visibility: hidden;
    }
}

.shop-buttons {
    width: 50px;
    height: 50px;
    background-color: $color-yellow;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-left: 1px;
    transition: background-color .2s ease;
    cursor: pointer;

    &:hover {
      background-color: darken($color-yellow, 10%);
    }
}

.cart__buttons-offer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    > div {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    h5 {
        color: white;
        font-weight: 300;
        margin-bottom: 0;
    }
}

.cart__price {
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin-left: 10px;
}