.hero-slider-wrap {
    position: relative;
}



.hero-section {
    padding-top: 116px;
}

.hero-slider {
    margin-bottom: 0 !important;

    .slick-slide {
        position: relative;
    }

    img {
        z-index: 1;
        position: relative;
        width: 100%;
        height: auto;
        opacity: 0;
        visibility: hidden;
        
        @include min-screen($breakpoint-mobile) {
            opacity: 1;
            visibility: visible;
        }
    }
    
    .slick-dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        counter-reset: slide;
        
        @include min-screen($breakpoint-mobile) {
            padding-left: 10px;
            text-align: left;
        }
        
        .slick-active {
            
            button {
                background-color: $color-yellow;
                font-weight: 700;

                &:hover {
                    background-color: darken($color-yellow, 20%);
                }

                &::after {
                    color: $color-black;
                }
            }
        }
        
        li,
        button {
            width: 10px;
            height: 10px;
            
            @include min-screen($breakpoint-mobile) {
                width: 50px;
                height: 50px;
            }
        }
        
        li {
            margin: 0 5px;

            @include min-screen($breakpoint-mobile) {
                margin: 0 1px;
            }
        }
        
        button {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .2s ease;

            &:hover {
                background-color: darken(white, 10%);
            }

            &::before {
                display: none;
            }
            
            @include min-screen($breakpoint-mobile) {
                background-color: $color-black;

                &:hover {
                    background-color: lighten($color-black, 5%);
                }
                
                &::after {
                    color: white;
                    counter-increment: slide;
                    content: counter(slide);
                    font-size: 14px;
                }
            }
        }
    }
}

.hero-slider__item {
    height: 280px;
    background-size: cover;
    background-position: 25% 50%;
    position: relative;
    display: block !important;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000000, 0.1);
        z-index: 1;
    }
    
    @include screen($breakpoint-tiny, $breakpoint-mobile) {
        background-position: 25% 65%;

    }
    
    @include min-screen($breakpoint-mobile) {
        height: auto;
    }
}

.hero-slider__text {
    position: absolute;
    top: 50px;
    max-width: 176px;
    z-index: 2;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    @include min-screen($breakpoint-mobile) {
        transform: translate(0, -50%);
        top: 50%;
        left: 70%;
        text-align: left;
    }
    
    h2 {
        line-height: 1.9;
        color: white;
        font-weight: normal;

        @include min-screen($breakpoint-mobile) {
            color: $color-title;
        }
        
        span {
            font-weight: 800;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}

