.heading-block {
    padding-top: 30px;
    text-align: center;
    
    @include min-screen($breakpoint-mobile) {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    h3 {
        font-weight: 300;
    }
}

