.header-main {
  @include min-screen($breakpoint-medium) {}

}

.header-main__top-content {
  height: 100%;
}

.header-main__top {
  height: 10px;
}

.header-main__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 0;
  }
}
