.cta__header {
    padding-top: 30px;
    text-align: center;

    @include min-screen($breakpoint-mobile) {
        padding-bottom: 30px;
    }
    
    h3 {
        font-weight: 300;
    }
}

.cta {

    @include min-screen($breakpoint-mobile) {
        display: flex;
    }
}

.cta__item {
    padding: 55px 10px;
    text-align: center;

    @include min-screen($breakpoint-mobile) {
        padding: 80px 50px 80px 50px;
        display: inline-flex;
        align-items: center;
        text-align: left;
    }
    
    .cta__img {
        margin: 0 auto 20px;
        
        @include min-screen($breakpoint-mobile) {
            margin: 0;
        }            
    }
}

.cta__img {
    width: 28px;
    height: 32px;
}

.cta__content {

    @include min-screen($breakpoint-mobile) {
        margin-left: 50px;
        
        h4 {
            margin-bottom: 0;
        }
    }
    
    h4 {
        line-height: 2.83;
    }
    
    span {
        font-weight: 300;
        display: block;
    }
    
    h4, 
    span {
        font-size: 12px;
    }
}

.cta__item-smaller {
    
    @include min-screen($breakpoint-mobile) {
        width: 30%;
    }
    
    h4, 
    span {
        color: white;
    }
}

.cta__item-wider {

    @include min-screen($breakpoint-mobile) {
        width: 70%;
        padding-left: 170px;

        .cta__content {
            margin-left: 115px;
        }
    }
}