.news {
    padding-top: 35px;
    text-align: center;

    h3 {
        font-weight: normal;
    }
    
    .grid-container { 
        height: 100%; margin: 0; 
    }
    
    .grid-container {
        
        @include min-screen($breakpoint-mobile) {
            display: grid;
            grid-template-columns: minmax(0, 58%) 42% ;
            grid-template-rows:   1fr 1fr;
            gap: 0px 0px;
            grid-template-areas: "s a" "s b";
            font-size: 0;
        
            > div {
                overflow: hidden;
            }
        }
    }
    
    .grid-container * { 
     position: relative;
    }
    
    .grid-container *:after { 
     content:attr('');
     position: absolute;
     top: 0;
     left: 0;
    }
}

.news__item--2 {
    grid-area: a; 
}

.news__item--3 {
    grid-area: b; 
}

.news__item {
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100%;

    @include min-screen($breakpoint-tiny) {
        padding-bottom: 50%;
    }
    
    @include min-screen($breakpoint-mobile) {
        padding-bottom: 0;
    }
    
    img {
        display: none;

        @include min-screen($breakpoint-mobile) {
            display: block;
        }
    }
}

.news__item--2,
.news__item--3 {
    position: relative;
    
    a {
        font-size: 14px;
        position: absolute !important;

        @include min-screen($breakpoint-mobile) {
            top: 30px;
            left: 20px;
        }
    }
}

.news__item--1 {
    grid-area: s; 
    position: relative;
    
    .news__item-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute !important;

        @include min-screen($breakpoint-mobile) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            color: white;
            font-weight: 300;
            margin-bottom: 0;
            text-align: left;
            line-height: 1.9;
            margin-left: 25px;

            span {
                font-weight: 800;
            }
        }
    }
}