.shop-slider {
    position: relative;

    .slick-slide {
        position: relative;

        > div > div {
            display: block !important;
        }
    }

    img {
        z-index: 1;
        position: relative;
        width: 100%;
        height: auto;
    }

    .slick-dots {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        counter-reset: slide;
        
        @include min-screen($breakpoint-mobile) {
            opacity: 0;
            visibility: hidden;
        }
        
        .slick-active {
            
            button {
                background-color: $color-yellow;
                font-weight: 700;

                &:hover {
                    background-color: darken($color-yellow, 20%);
                }

                &::after {
                    color: $color-black;
                }
            }
        }
        
        li,
        button {
            width: 10px;
            height: 10px;
            
            @include min-screen($breakpoint-mobile) {
                width: 50px;
                height: 50px;
            }
        }
        
        li {
            margin: 0 5px;

            @include min-screen($breakpoint-mobile) {
                margin: 0 1px;
            }
        }
        
        button {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .2s ease;

            &:hover {
                background-color: darken(white, 10%);
            }

            &::before {
                display: none;
            }
            
            @include min-screen($breakpoint-mobile) {
                background-color: $color-black;

                &:hover {
                    background-color: lighten($color-black, 5%);
                }
                
                &::after {
                    color: white;
                    counter-increment: slide;
                    content: counter(slide);
                    font-size: 14px;
                }
            }
        }
    }

    .slick-arrow {

        @include min-screen($breakpoint-mobile) {
            width: 50px;
            height: 50px;
            background-color: $color-dark;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(0, 0);
            z-index: 5;
            top: auto;
        }
    }

    .slick-prev {
        left: auto;
        right: 51px;
        background-image: url('../img/arrow-prev.png');
    }
    
    .slick-next {
        background-image: url('../img/arrow-next.png');
    }

    .slick-prev,
    .slick-next {
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &::before {
            content: '';
        }
    }
}


.slick-dotted.slick-slider {
        margin-bottom: 0;
}

