.heading-block {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
    
    @include min-screen($breakpoint-mobile) {
        padding-bottom: 20px;
        padding-top: 50px;
    }
    
    h3 {
        font-weight: 300;
    }
}

