.news {
    padding-top: 35px;
    text-align: center;

    h3 {
        font-weight: normal;
    }
    
    .grid-container { 
        height: 100%; margin: 0; 
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: minmax(0, 58%) 42% ;
      grid-template-rows:   1fr 1fr;
      gap: 0px 0px;
      grid-template-areas: "s a" "s b";
      font-size: 0;
    
      > div {
          overflow: hidden;
      }
    }
    
    .grid-container * { 
     position: relative;
    }
    
    .grid-container *:after { 
     content:attr('');
     position: absolute;
     top: 0;
     left: 0;
    }
}

.news__content-item1 { 
    grid-area: s; 
}

.news__content-item2 {
    grid-area: a; 
}

.news__content-item3 {
    grid-area: b; 
}

.news__content-item1,
.news__content-item2,
.news__content-item3 {
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        display: none;

        @include min-screen($breakpoint-mobile) {
            display: block;
        }
    }
}

.news__content-item2,
.news__content-item3 {
    position: relative;
    
    a {
        font-size: 14px;
        position: absolute !important;

        @include min-screen($breakpoint-mobile) {
            top: 30px;
            left: 20px;
        }
    }
}

.news__content-item1 {
    position: relative;
    
    .news__content-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute !important;

        @include min-screen($breakpoint-mobile) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            color: white;
            font-weight: 300;
            margin-bottom: 0;
            text-align: left;
            line-height: 1.9;
            margin-left: 25px;

            span {
                font-weight: 800;
            }
        }
    }
}