{% import "../macros/macro.all.html" as allMacros %}
<div class="cta__header">
    <h2>best seller of last month</h2>
    <h3 class="h4">top products of last month</h3>
</div>
<div class="cta">
    <div class="cta__container">

        {{ allMacros.ctaItem('cta__item--small cta__item--dark', 'ship-white.png', 'Free shipping Worldwide', 'only order from $ 14.000') }}
        
        {{ allMacros.ctaItem('cta__item--large', 'shop.png', 'Shop with confidence', 'only order from  14.000 USD') }}
        
    </div>
    <div class="cta__container cta__container--reverse">
        
        {{ allMacros.ctaItem('cta__item--large cta__item--dark', 'ship-white.png', 'Free shipping Worldwide', 'only order from $ 14.000') }}
        
        {{ allMacros.ctaItem('cta__item--small', 'shop.png', 'Shop with confidence', 'only order from  14.000 USD') }}
        
    </div>
</div>
