{% import "../macros/macro.all.html" as allMacros %}

<footer class="footer-main">
    <div class="bgr-color-gray-dark">
        <div class="wrapper">
            <div class="footer-main__content">
                <div class="footer-main__content--middle">
                    <ul>
                        <li><a href="">P.O. Box 942873 Sacramento</a></li>
                        <li><a href="">CA 94273-0001</a></li>
                        <li><a href="">company@contact.com</a></li>
                        <li><a href="">707-445-6600+</a></li>
                    </ul>
                </div>
                <div class="footer-main__content--top">
                    {{ allMacros.social() }}
                    <div class="cube-wrapper">
                        {{ allMacros.icon('cube', 'icon--cube icon--large') }}
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="bgr-color-black">
        
        <div class="wrapper">
            
            <div class="footer-main__links">
                <div bp='grid'>

                    <div bp='4@md'>
                        <div class="footer-main__links-wrap">
                            <div class="text-rotation color-yellow">partners</div>
                            <ul>
                                <li><a href="">Track Your Order</a></li>
                                <li><a href="">Returns</a></li>
                                <li><a href="">Shipping Information</a></li>
                                <li><a href="">FAQs</a></li>
                                <li><a href="">Pottery Barn Credit Card</a></li>
                                <li><a href="">Pay Bill Online</a></li>
                                <li><a href="">Email Preferences</a></li>
                                <li><a href="">International Orders</a></li>
                                <li><a href="">*Promotion Details</a></li>
                            </ul>
                        </div>
                    </div>
                    <div bp='4@md'>
                        <div class="footer-main__links-wrap">
                            <div class="text-rotation color-yellow">SiteMap</div>
                            <ul>
                                <li><a href="">What's New</a></li>
                                <li><a href="">Gift Cards</a></li>
                                <li><a href="">New Mover Program</a></li>
                                <li><a href="">To The Trade</a></li>
                                <li><a href="">Hospitality</a></li>
                            </ul>
                        </div>
                    </div>
                    <div bp='4@md'>
                        <div class="footer-main__links-wrap">
                            <div class="text-rotation color-yellow">aboutus</div>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Environmental Commitment</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Press</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-main__bottom">
                <small>&copy; 2019 <span class="color-yellow">CUBE</span> all rights reserved.</small>
            </div>
        </div>
    </div>
</footer>
