<header class="header-main">
    <div class="header-main__top">
        <div class="header-main__top-content" bp="grid gap-none">
            <div class="bgr-color-dark" bp="4"></div>
            <div class="bgr-color-yellow" bp="8"></div>
          </div>
    </div>
    <div class="header-main__middle">
        <h1 class="logo">VW Beetle</h1>
        <div class="icon-hamburger">
            <a href="">{{ allMacros.icon('hamburger') }}</a>
        </div>
    </div>

    <button class="button button--transparent">Button</button>
</header>
