{% import "../macros/macro.all.html" as allMacros %}
<div class="hero-slider-wrap">
    <div class="hero-slider js-hero-slider">
        <div style="background-image: url('assets/img/slider-img-mobile.jpg');" class="hero-slider__item">
            
            <img src="assets/img/slider-img.jpg" alt="">
            <div class="hero-slider__text">
                <h2>Express yourself with VW Beetle</h2>
                <a href="" class="button button--transparent button--middle">Details</a>
            </div>
        </div>
        <div style="background-image: url('assets/img/slider-img-mobile.jpg');" class="hero-slider__item">
            
            <img src="assets/img/slider-img.jpg" alt="">
            <div class="hero-slider__text">
                <h2>Express yourself with VW Beetle</h2>
                <a href="" class="button button--transparent button--middle">Details</a>
            </div>
        </div>
        <div style="background-image: url('assets/img/slider-img-mobile.jpg');" class="hero-slider__item">
            
            <img src="assets/img/slider-img.jpg" alt="">
            <div class="hero-slider__text">
                <h2>Express yourself with VW Beetle</h2>
                <a href="" class="button button--transparent button--middle">Details</a>
            </div>
        </div>
        <div style="background-image: url('assets/img/slider-img-mobile.jpg');" class="hero-slider__item">
            
            <img src="assets/img/slider-img.jpg" alt="">
            <div class="hero-slider__text">
                <h2>Express yourself with VW Beetle</h2>
                <a href="" class="button button--transparent button--middle">Details</a>
            </div>
        </div>
        <div style="background-image: url('assets/img/slider-img-mobile.jpg');" class="hero-slider__item">
            
            <img src="assets/img/slider-img.jpg" alt="">
            <div class="hero-slider__text">
                <h2>Express yourself with VW Beetle</h2>
                <a href="" class="button button--transparent button--middle">Details</a>
            </div>
        </div>
    </div>
</div>

