{% import "../macros/macro.all.html" as allMacros %}

<div class="news">

    <h2>Latest news</h2>
    <h3 class="h4">new beetle design</h3>
    
    <div class="grid-container news__content">
        <div class="news__content-item1">
            <img src="assets/img/news-img1.jpg" alt=""/>
            <a href="" class="button button--transparent button--middle">explore</a>
        </div>
        <div class="news__content-item2">
            <img src="assets/img/news-img2.jpg" alt=""/>
            <a href="" class="button button--transparent button--middle">customize</a>
        </div>  
        <div class="news__content-item3">
            <img src="assets/img/news-img3.jpg" alt=""/>
            <a href="" class="button button--transparent button--middle">manage</a>
        </div>
    </div>
</div>
