{% import "../macros/macro.all.html" as allMacros %}
<div bp="flex">
    <div class="section-partners__title" bp="fit">
        <div>
            <h2>Our partners<span>|</span></h2>
        </div>
    </div>
    <div bp="fill">
        <div class="section-partners__logos">
            <div class="img-wrap">
                <img src="./assets/img/mercedes.svg" alt="">
            </div>
            <div class="img-wrap">
                <img src="./assets/img/hummer.svg" alt="">
            </div>
            <div class="img-wrap">
                <img src="./assets/img/jaguar.svg" alt="">
            </div>
            
        </div>
    </div>
</div>


