{% import "../macros/macro.all.html" as allMacros %}


<div class="wrapper wrapper--no-padding">
    {{ allMacros.headingBlock('BEST SELLER', 'TOP PRODUCTS OF THIS WEEK') }}

    <div class="cta__container">

        {{ allMacros.ctaItem('cta__item--small cta__item--dark', 'ship-white.png', 'Free shipping Worldwide', 'only order from $ 14.000') }}
        
        {{ allMacros.ctaItem('cta__item--large', 'shop.png', 'Shop with confidence', 'only order from  14.000 USD') }}
        
    </div>

    <div bp="grid">
        <div bp="6@md" class="cart">
            <div class="js-shop-slider shop-slider">
                <div><img src="assets/img/shop-img1.jpg" alt=""></div>
                <div><img src="assets/img/shop-img2.jpg" alt=""></div>
                <div><img src="assets/img/shop-img3.jpg" alt=""></div>
                <div><img src="assets/img/shop-img1.jpg" alt=""></div>
                <div><img src="assets/img/shop-img2.jpg" alt=""></div>
            </div>
            <div class="cart__buttons">
                {% include "./add-to-cart.html" -%}

                <div class="cart__buttons-reaction">
                    {{ allMacros.shopButtons('shop-buttons', 'heart.png') }}
                    {{ allMacros.shopButtons('shop-buttons', 'compass.png') }}
                </div>
            </div>
            <div class="cart__buttons-offer">
                {{ allMacros.shopOffers('bgr-color-orange', 'flame.png') }}
                <span class="cart__price">$24,295</span>
            </div>

        </div>
        <div bp="6@md" class="cart">
            <div class="js-shop-slider shop-slider">
                <div><img src="assets/img/shop-img2.jpg" alt=""></div>
                <div><img src="assets/img/shop-img1.jpg" alt=""></div>
                <div><img src="assets/img/shop-img3.jpg" alt=""></div>
                <div><img src="assets/img/shop-img2.jpg" alt=""></div>
                <div><img src="assets/img/shop-img1.jpg" alt=""></div>
            </div>
            <div class="cart__buttons">
                {% include "./add-to-cart.html" -%}

                <div class="cart__buttons-reaction">
                    {{ allMacros.shopButtons('shop-buttons', 'heart.png') }}
                    {{ allMacros.shopButtons('shop-buttons', 'compass.png') }}
                </div>
            </div>
            <div class="cart__buttons-offer">
                {{ allMacros.shopOffers('bgr-color-blue', '', 'new') }}
            </div>
        </div>
        <div bp="6@md" class="cart">
            <div class="js-shop-slider shop-slider">
                <div><img src="assets/img/shop-img3.jpg" alt=""></div>
                <div><img src="assets/img/shop-img1.jpg" alt=""></div>
                <div><img src="assets/img/shop-img2.jpg" alt=""></div>
                <div><img src="assets/img/shop-img3.jpg" alt=""></div>
                <div><img src="assets/img/shop-img1.jpg" alt=""></div>
            </div>
            <div class="cart__buttons">
                {% include "./add-to-cart.html" -%}

                <div class="cart__buttons-reaction">
                    {{ allMacros.shopButtons('shop-buttons', 'heart.png') }}
                    {{ allMacros.shopButtons('shop-buttons', 'compass.png') }}
                </div>
            </div>
            <div class="cart__buttons-offer">
                {{ allMacros.shopOffers('bgr-color-green', '', '-30%') }}
                {{ allMacros.shopOffers('bgr-color-blue', '', 'new') }}
            </div>
        </div>
      </div>
</div>