{% import "../macros/macro.all.html" as allMacros %}


<div class="wrapper">
    {{ allMacros.headingBlock('BEST SELLER', 'TOP PRODUCTS OF THIS WEEK') }}

    <div class="cta__container">

        {{ allMacros.ctaItem('cta__item--small cta__item--dark', 'ship-white.png', 'Free shipping Worldwide', 'only order from $ 14.000') }}
        
        {{ allMacros.ctaItem('cta__item--large', 'shop.png', 'Shop with confidence', 'only order from  14.000 USD') }}
        
    </div>

    <div bp="grid 4">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </div>
</div>