{% extends "layouts/default.html" %}

{% set homepage = true %}
{% set pagetitle = "Homepage" %}
{% set bodyClass = "homepage" %}

{% block content %}
{% include "./components/header.html" -%}

<section class="hero-section">
    <div class="wrapper wrapper--no-padding-mobile">
        {% include "./components/hero-slider.html" -%}
    </div>
</section>

<section id="shop" class="shop-section">
    {% include "./components/shop.html" -%}
</section>

<section id="news" class="news-section">
    <div class="wrapper wrapper--no-padding">
        {% include "./components/news.html" -%}
    </div>
</section>

<section class="cta-section">
    <div class="wrapper wrapper--no-padding">
        {% include "./components/cta.html" -%}
    </div>
</section>

<section id="subscribe" class="subscribe-section">
    <div class="wrapper wrapper--small">
        {% include "./components/subscribe.html" -%}
    </div>
</section>

<section id="partners">
    <div class="wrapper section-partners">
        {% include "./components/partners.html" -%}
    </div>
</section>

{% include "./components/footer.html" -%}

{% endblock %}
