.bgr-color-yellow {
    background-color: $color-yellow;
}

.bgr-color-dark {
    background-color: $color-dark;
}

.bgr-color-gray-dark {
    background-color: $color-gray-dark;
}

.bgr-color-black {
    background-color: $color-black;
}

.bgr-color-blue {
    background-color: $color-blue;
}

.bgr-color-orange {
    background-color: $color-orange;
}

.bgr-color-green {
    background-color: $color-green;
}